* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow: hidden; /* Ẩn thanh cuộn để canvas phủ kín */
  background: #0f2027; /* Màu nền dự phòng */
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
  height: 100vh;
  color: #fff;
  position: relative;
}

/* Canvas nằm dưới cùng */
canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* Container nằm trên Canvas */
.container {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

/* Hiệu ứng Glassmorphism */
.content-box {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px); /* Làm mờ nền sau kính */
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 3rem;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  width: 100%;
  animation: fadeIn 1.5s ease-out;
}
.logo {
  width: 100%;
  margin-bottom: 30px;
}
.logo img {
  width: 200px;
}
.title {
  font-size: 25px;
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.address {
  font-weight: 300;
  margin-bottom: 30px;
  opacity: 0.9;
}

.products {
  width: 100%;
}
.products img {
  box-shadow: #a3a3a3 0 0 30px;
  max-width: 500px;
  overflow: hidden;
  border-radius: 20px;
}
/* Responsive */
@media (max-width: 768px) {
  .title {
    display: none;
  }
  .address {
    font-size: 12px;
  }
  .content-box {
    padding: 1.5rem;
  }
  .products img {
    max-width: 300px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
